<%= render 'optimadmin/shared/header/main_title', title: 'New Button' %>
<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: buttons_path, title: 'Button' %>
  <%= render 'form' %>
</div>
