.primary-header-wrap {
  border-bottom: 4px solid $primary-blue;
}

.ie8 .primary-header-wrap {
  height: 107px;
}

.primary-header {
  @include grid-row;
  position: relative;

  @include breakpoint(large) {
    padding: rem(24px) 0 0;
  }
}

.logo {
  background: image-url('layout/header/logo.png') no-repeat;
  height: 83px;
  text-indent: -9999px;

  @include breakpoint(medium down) {
    background-position: center;
    @include grid-column(12);
  }

  @include breakpoint(large) {
    @include grid-column(2);
  }
}

.swyt {
  background: image-url('layout/header/swyt.png') no-repeat top right;
  text-indent: -9999px;
  margin: rem(15px) 0 0;

  @include breakpoint(medium down) {
    @include grid-column(12);
    background-position: center;
    min-height: 25px;
    padding-bottom: rem(20px);
  }

  @include breakpoint(large) {
    @include grid-column(3);
    height: 25px;
  }
}
