h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.1;
}


h1 {
  font-size: em(34px);
  margin: em(10px, 34px) 0;
}

h2 {
  font-size: em(28px);
  font-weight: bold;
  margin: em(10px, 28px) 0;
}

h3 {
  font-size: em(22px);
  font-weight: bold;
  margin: em(10px, 22px) 0;
}

h4 {
  font-size: em(19px);
  font-weight: bold;
  margin: em(10px, 19px) 0;
}

h5 {
  font-size: em(18px);
  font-weight: bold;
  margin: em(10px, 18px) 0;
}

h6 {
  font-size: em(16px);
  font-weight: bold;
  margin: em(10px, 16px) 0;
}


p {
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

ul ul,
ol ol {
  margin-left: 15px;
}


fieldset {
  margin: 0;
  padding: 5px;
}

legend {
  font-weight: bold;
  padding: 0 10px;
}

.field,
.actions {
  margin: 10px 0;
}

.field-with-errors {
  font-weight: bold;
  margin: 10px 0;

  label {
    font-weight: bold;
  }
}

.block-level {
  display: block;
  padding: 5px 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
input[type='search'],
textarea {
  -webkit-appearance: none;
  border: 1px solid #d8d8d8;
  border-radius: 1px;
  box-shadow: none;
  padding: 5px;
  width: 100%;
}

select {
  border: 1px solid #d8d8d8;
  border-radius: 1px;
  display: inline-block;
  padding: 5px;
  width: auto;
  min-width: 68px;
}

input[type='search'] {
  -webkit-appearance: none;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

input[type='reset'],
input[type='submit'],
button {
  -webkit-appearance: none;
  border-radius: 1px;
  box-shadow: none;
  cursor: pointer;
  line-height: 1;
  padding: 5px;
}

input[disabled] {
  opacity: .75;
}

label {
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

// Flash
.flash-message {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 15px;
  margin: 5px 0;
  padding: 4px;
}

// .flash-message.notice {
// }

.flash-message.error {
  font-weight: bold;
}

.flash-message.alert {
  font-weight: bold;
}

.error_messages,
#error_explanation {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
  padding: 4px 6px;
}
