$notice: $primary-green;
$error: $red;
$alert: $red;
$text-color: $white;
$border-color: $yellow;

%flash-heading {
  color: $white;
  font-size: rem(16px);
  font-weight: normal;
}

// Flash
%flash-message {
  border: 1px solid $border-color;
  color: $text-color;
  font-family: $mentone;
  font-size: rem(22px);
  font-weight: $mentone-bold;
  margin: 0 0 rem(10px);
  padding: rem(7px);
}

.flash-message {
  @extend %flash-message;

  h2 {
    @extend %flash-heading;
  }

  ul {
    font-weight: normal;
  }

  &.notice {
    background: $notice;
    font-weight: bold;
  }

  &.error {
    background: $error;
    font-weight: bold;
  }

  &.alert {
    background: $alert;
    font-weight: bold;
  }
}

.error_messages,
#error_explanation {
  @extend %flash-message;
  background: $error;
  font-weight: bold;

  h2 {
    @extend %flash-heading;
  }

  ul {
    font-weight: normal;
    font-size: rem(14px);
  }
}
