.home-page-item-title {
  color: $white;
  font-size: rem(14px);
  font-weight: $open-sans-extrabold;
  padding: rem(11px) rem(17px);

  &.purple {
    background: $purple;
  }

  &.yellow {
    background: $yellow;
  }

  &.red {
    background: $red;
  }

  &.blue {
    background: $secondary-blue;
  }
}

.home-page-item-content {
  margin: 0 auto rem(28px);

  p {
    font-size: rem(14px);
    margin: rem(14px) rem(17px);
    padding: 0;
  }
}
