<!DOCTYPE html>
<html>
  <%= render 'layouts/shared/head' %>

  <body>
    <%= render 'layouts/application/header' %>

    <%= yield %>

    <%= render 'layouts/application/footer' %>
  </body>
</html>
